<section id="about" class="content has-background-primary section is-medium">
    <div id="hero" class="">
    <h2 class="has-text-centered is-size-1 has-text-weight-bold is-uppercase my-6">About</h2>
    <div class="columns is-desktop">
        <div  class="column">
            <figure  class="block image">
                <img id="profileimg" src="/profilepicbig.png">
            </figure>
        </div>
        <div class="column">
            <p>I'm a full-stack developer (mostly frontend) passionate about working with React. <br/>When I build websites I use Next.js with my SEO experience and when I
            build web-apps I use React with Bulma/Tailwind or React admin. 
            I also use Python for various business solutions.<br/>
            <br/>
            <strong>What do I bring to the table?</strong><br/>
            I've got 3+ years of programming experience ready to put to use. My background in Marketing, SEO, Graphic design and Photography allows me to combine it all together with Web technology, making me a valuable asset for my team.<br/>
            <br/>
            <strong>I don't want...</strong><br/>
            ...Just another job. I want to solve real problems and make people's lives easier in a community that shares my passion for technology.<br/>
            <br/>
            </p>
            <a href="https://drive.google.com/file/d/1VC1RcHiiJ7YCJmQLp_InTNIw6zrEbP__/view?usp=sharing" target="_blank"><button class="button is-medium is-white is-outlined has-text-weight-bold">Resume</button></a>
        </div>
        </div>
    </div>
</section>

<style>
    #hero {
        max-width: 1408px;
        margin: 0 auto;
    }

    #profileimg {
        height: 500px;
        width: 320px;
    }
</style>