<nav class="columns m-5 is-mobile level-right is-variable is-7-mobile is-7-tablet is-7-desktop is-7-widescreen">
    <a
        href="https://www.linkedin.com/in/g12c4/"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="linkedin"
        class="button is-white is-large column is-narrow">
        <span 
        class="icon is-large has-text-primary">
        <i 
        class="fab fa-linkedin fa-lg"></i>
        </span>
        </a>
        <a
        href="https://github.com/G12c4/"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="github"
        class="button is-white is-large column is-narrow">
        <span 
        class="icon is-large has-text-primary">
        <i 
        class="fab fa-github-square fa-lg"></i>
        </span>
        </a>
        <a
        href="https://drive.google.com/file/d/1VC1RcHiiJ7YCJmQLp_InTNIw6zrEbP__/view?usp=sharing"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="file"
        class="button is-white is-large column is-narrow">
        <span 
        class="icon is-large has-text-primary">
        <i 
        class="fa fa-download fa-lg"></i>
        </span>
        </a>
</nav>

<style>
    nav {
        font-size: 80px;;
    }
</style>