<section id="skills" class="content has-background-primary section is-medium">
    <div id="hero" class="">
    <h2 class="has-text-centered is-size-1 has-text-weight-bold is-uppercase">Skills</h2>
        <div class="columns is-desktop has-text-centered">
            <div  class="column">
                <h1>Frontend</h1>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/html.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">HTML</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/css.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">CSS</p>
                </span>
                <span id="icon" class="icon is-large icon-text ">
                    <img src="/javascript.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold ">JAVASCRIPT</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/react.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">REACT</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img class="mb-2" src="/next.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">NEXTJS</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img  src="/svelte.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold pb-1">SVELTE</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img class="pt-3 pb-4" src="/tailwind.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold pb-1">TAILWIND</p>
                </span>
            </div>
            <div class="column">
                <h1>Tools</h1>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/photoshop.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">PHOTOSHOP</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/illustrator.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">ILLUSTRATOR</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/github.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">GITHUB</p>
                </span>
                <!-- <span id="icon" class="icon is-large icon-text">
                    <img src="/git.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">GIT</p>
                </span> -->
                <span id="icon" class="icon is-medium icon-text">
                    <img src="/figma.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">FIGMA</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/netlify.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">NETLIFY</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/vercel.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">VERCEL</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/vscode.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">VS CODE</p>
                </span>
            </div>
            <div class="column">
                <h1>Backend</h1>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/python.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">PYTHON</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img class="pt-3 pb-2" src="/nodejs.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">NODE JS</p>
                </span>
                <!-- <span id="icon" class="icon is-large icon-text">
                    <img src="/fastapi.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">FASTAPI</p>
                </span> -->
                <span id="icon" class="icon is-large icon-text">
                    <img class="pt-4 pb-3" src="/pandas.png" alt="">
                    <p class="tag is-primary has-text-weight-bold">PANDAS</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/playwright.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">PLAYWRIGHT</p>
                </span>
                <!-- <span id="icon" class="icon is-large icon-text">
                    <img src="/mongodb.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold">MONGO DB</p>
                </span>
                <span id="icon" class="icon is-large icon-text">
                    <img src="/postgresql.svg" alt="">
                    <p class="tag is-primary has-text-weight-bold pb-1">POSTGRESQL</p>
                </span> -->
            </div>
        </div>
    </div>
</section>

<style>
    #icon {
        align-items: center;
        margin: 1rem 1.2rem;
    }

    #hero {
        max-width: 1408px;
        margin: 0 auto;
    }
</style>
